bam/
centrifuge_output/
E40504_ref/
fastq/
freebayes_phe_mn1_00/
mash_distances/
pgap2/
phylogeny/
plasmids/
plotting/
poppunk/
qc_logs/
skesa_assembly/
snippy/
spades_assembly/
t3ss/
.Rproj.user/
Plasmid1_proteins.txt
